{% load static %}
<!DOCTYPE html>
<html>
<head>

  <title>Verify</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="{% static 'css/accounts/register.css' %}" rel="stylesheet">

</head>
<body>
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <h3 id="form-title">Verfication</h3>
      </div>
      <div class="d-flex justify-content-center form_container">
        <div>
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                  {{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="d-flex justify-content-center links">
        <a href="{% url 'login_view' %}" class="ml-2">Login</a>
      </div>
    </div>
  </div>
</div>
</html>